
hr{
    size: 10;
    width: 100%;
    margin-left: 0px;
    
}

.div-profile{
    flex-direction: column;
    text-align: right;
    margin-right: 200px;
    height: 60px;
    margin-top: 30px;
}

.link-inicio{
    color: #707070;
    font-size: 24px;
    float: left;
    margin-left: 1050px;
    margin-top: 3px;
    display: flex;
    width: max-content;
}

.link-profile{
    color: #707070;
    font-size: 24px;
}