.Body-Cadastro{
    background-color: #00D3FF;
    margin: auto;
}

.img-cadastro{
    height: 400px;
    margin: 180px 20px;
}

.divisao{
    background-color: black;
    height: 500px;
    width: 2px;
    float: right;
    margin-top: 120px;
    margin-right: 700px;
}

.Formulario-Cadastro{
    float: right;
    margin-right: -450px;
    margin-top: 50px;
}