.body-home{
    background-color: #00D3FF ;
}

.imagemhome{
    width: 100%;
}

.div-banner{
    display: block;
    width: 100%;
    height: 600px;
    padding: 0;
    color: white;
    background: url(C:\Users\anton\Documents\projetosreact\projeto\public\imagens\imagemhomecortada.png) no-repeat bottom center scroll;
    background-position: 10% 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

.p-banner{
    float: left;
    margin: -40px 30px ;
    color: black;
    font-size: 22px;
    padding: 0;
    margin-top: 330px;
}

.texto-banner{
    flex-direction: column;
    display: flex;
    margin-right: 1100px;
    display: flex;
    width: max-content;
}

h3{ 
    color: white;
    
    font-size: 50px;
    margin-left: 30px;
}

.div-meio{
    background-color: #00D3FF;
    background-position: 10% 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
    display: flex;
    width: max-content;
}

.div-meio-textos{
    align-items: center;
    margin: 150px 600px;
    
}

.div-duvidas{
    background-color: white;
    display: flex;
    width: max-content;
    width: 100%;
}

.imghome2{
    margin: 200px 300px;
    padding: 0px;
}

.h1-duvidas{
    float: right;
    margin-top: 250px;
    margin-right: 180px;
    font-size: 50px;
    padding: 0px;
    
}

.p-duvidas{
    float: right;
    
    margin:330px -530px;
}

.link-duvidas{
    color: #00D3FF;
}