*{
    text-decoration: none;
}

.div_button a{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00D3FF;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-style: bold;
    font-size: 20px;
    margin: 0px 80px;
}